.button{width: 120px !important;}
#outsidePanel .button{width: 120px !important;}
.eventPanel .button {width: 130px !important;}
#buildBtns, #craftBtns, #buyBtns { width: 130px; }
#craftBtns { left: 150px; }
#buyBtns { left: 300px; }
